<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554730337685-5713j6cng7e45n5rhhf27qku6s83gce7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554730337685-5713j6cng7e45n5rhhf27qku6s83gce7</string>
	<key>API_KEY</key>
	<string>AIzaSyCp9zetl_M49V00_1pOAch_x95XccfxAmE</string>
	<key>GCM_SENDER_ID</key>
	<string>554730337685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videochatApp</string>
	<key>PROJECT_ID</key>
	<string>videochat-app-e4d32</string>
	<key>STORAGE_BUCKET</key>
	<string>videochat-app-e4d32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554730337685:ios:897eeb7655f6611544329c</string>
</dict>
</plist>